<as-split *ngIf="view==sim" direction="vertical">
    <as-split-area size="10">
        <lib-engine-control simulationTitle="Romer measurement of light speed"
            [engineUpdatedCallbackFunction]="engineUpdatedCallbackFunction">
        </lib-engine-control>
    </as-split-area>
    <as-split-area size="90">
                <canvas #canvas width="1700" height="700"></canvas>
    </as-split-area>
</as-split>

<as-split *ngIf="view==default" direction="vertical">
    <as-split-area [size]=05>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-radio-group aria-label="Select an option" [(ngModel)]="view">
            <mat-radio-button *ngFor="let view of views" [value]="view">
                {{view}}&nbsp;&nbsp;&nbsp;
            </mat-radio-button>
        </mat-radio-group>
    </as-split-area>
    <as-split-area [size]=95>
        <app-gongsim-splitter GONG__StackPath=""></app-gongsim-splitter>
    </as-split-area>
</as-split>

<as-split *ngIf="view==meta" direction="vertical">
    <as-split-area [size]=05>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-radio-group aria-label="Select an option" [(ngModel)]="view">
            <mat-radio-button *ngFor="let view of views" [value]="view">
                {{view}}&nbsp;&nbsp;&nbsp;
            </mat-radio-button>
        </mat-radio-group>
    </as-split-area>
    <as-split-area [size]=95>
        <app-gong-splitter></app-gong-splitter>
    </as-split-area>
</as-split>


<as-split *ngIf="view==diagrams" direction="vertical">
    <as-split-area [size]=05>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-radio-group aria-label="Select an option" [(ngModel)]="view">
            <mat-radio-button *ngFor="let view of views" [value]="view">
                {{view}}&nbsp;&nbsp;&nbsp;
            </mat-radio-button>
        </mat-radio-group>
    </as-split-area>
    <as-split-area [size]=95>
        <lib-pkgelt-docs></lib-pkgelt-docs>
    </as-split-area>
</as-split>